extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-7.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x.align-spaced
				.cell.small-7
					p.comunicado__paragraph.comunicado__subtitle ¿Qué es una emergencia?
					p.comunicado__paragraph--content Es un evento indeseable, identificable en el tiempo, que produce un estado de perturbación funcional en el sistema, capaz de afectar las actividades cotidianas de una comunidad, alterando los servicios e impidiendo el normal desarrollo de las actividades esenciales. Una emergencia puede generar víctimas y daños materiales que afectan la estructura social y económica, lo cual exige una respuesta inmediata con los recursos normalmente disponibles.

					p.comunicado__paragraph.comunicado__subtitle ¿Qué es la Brigada de emergencias?
					p.comunicado__paragraph--content Es un grupo de trabajadores que se encuentran debidamente organizados, entrenados y equipados para identificar y reaccionar ante emergencias, actuando, controlando o minimizando oportunamente las consecuencias de dichos riesgos identificados.

					p.comunicado__paragraph.comunicado__subtitle Objeto de la brigada de emergencias
					p.comunicado__paragraph--content Las brigadas son formadas con el fin de promover un cambio de actitud, orientando a los colaboradores a una cultura preventiva que se fundamente y respalde en la necesidad de controlar y manejar de manera organizada las condiciones laborales inadecuadas que pueden causar desastres y atenten contra la salud o seguridad de los trabajadores o los bienes materiales de la empresa.

					p.comunicado__paragraph.comunicado__subtitle Tipos de brigadas y funciones
					img(src="images/brigadas.jpg")

				.cell.small-4
					.callout.warning 
						h5 FUNCIONES GENERALES DE LA BRIGADA DE EMERGENCIA
						p.comunicado__paragraph.comunicado__subtitle ANTES
						p.comunicado__paragraph--content.vineta.m-left Conocer ampliamente las instalaciones, sus procesos y los riesgos que puedan generar emergencias.
						p.comunicado__paragraph--content.vineta.m-left Identificar claramente la ubicación y capacidad de los equipos para el control de emergencia.
						p.comunicado__paragraph--content.vineta.m-left Realizar inspección de seguridad que beneficien el desarrollo de las funciones laborales.
						p.comunicado__paragraph--content.vineta.m-left Avisar sobre cambios en el comportamiento de los riesgos en las instalaciones.
						p.comunicado__paragraph--content.vineta.m-left Presentar informes sobre recursos necesarios para el control de emergencias.
						p.comunicado__paragraph--content.vineta.m-left Reconocer los procedimientos operativos instaurados para el control de emergencias.
						p.comunicado__paragraph.comunicado__subtitle DURANTE
						p.comunicado__paragraph--content.vineta.m-left Ejecutar los procedimientos operativos normalizados
						p.comunicado__paragraph--content.vineta.m-left Evaluar la magnitud de la emergencia
						p.comunicado__paragraph--content.vineta.m-left Decidir si es necesario contar con apoyo externo.
						p.comunicado__paragraph--content.vineta.m-left Mantener estrecha comunicación con el comité para el manejo de emergencias
						p.comunicado__paragraph--content.vineta.m-left Evacuar y atender los incendios presentados en la emergencia
						p.comunicado__paragraph--content.vineta.m-left Orientar y apoyar las acciones del apoyo externo.
						p.comunicado__paragraph.comunicado__subtitle DESPUÉS
						p.comunicado__paragraph--content.vineta.m-left Desarrollar acciones de rehabilitación, por ejemplo: remoción de escombros y evaluación de los daños causados por la emergencia.
						p.comunicado__paragraph--content.vineta.m-left Realizar inventario de los recursos a recuperar
						p.comunicado__paragraph--content.vineta.m-left Evaluar el proceso de reacción y atención de la emergencia
						p.comunicado__paragraph--content.vineta.m-left Presentar informes al comité para el manejo de emergencias






