extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-5.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x.align-center
				.cell
					ul.accordion(data-accordion, data-allow-all-closed="true")
						li.accordion-item(data-accordion-item)
							a.accordion-title.a__accordion--custon(href="") ¿Qué es acoso laboral?
							.accordion-content.bg__accordion--content(data-tab-content)
								p.comunicado__paragraph--content Es la acción de una persona o varias que produce miedo, terror, desprecio o desánimo en el colaborador, afectando su trabajo y desatando efectos colaterales en el aspecto físico del mismo.


								p.comunicado__paragraph.comunicado__subtitle ¿Quiénes son victimas de acoso laboral?
								p.comunicado__paragraph--content Puede ser víctima de acoso laboral cualquier colaborador dentro de la empresa. El acoso laboral puede presentarse en cualquier sentido entre:

								p.comunicado__paragraph--content.vineta.m-left Superiores
								p.comunicado__paragraph--content.vineta.m-left Subalternos 
								p.comunicado__paragraph--content.vineta.m-left Compañeros de trabajo


								p.comunicado__paragraph.comunicado__subtitle ¿Cuáles son las modalidades de acoso laboral?
								p.comunicado__paragraph--content Maltrato laboral
								p.comunicado__paragraph--content.vineta.m-left  Todo acto violento que pueda existir contra la integridad física o moral y la libertad física o sexual de cualquier colaborador.
								p.comunicado__paragraph--content.vineta.m-left  Toda expresión verbal ofensiva o insultante que lesione la integridad moral o los derechos a la intimidad y al buen nombre de quienes participen en una relación de trabajo.
								p.comunicado__paragraph--content.vineta.m-left  Todo comportamiento tendiente a perjudicar la autoestima y la dignidad de quien participe en una relación de trabajo de tipo laboral.
								p.comunicado__paragraph--content Persecución laboral
								p.comunicado__paragraph--content.vineta.m-left  Toda conducta que se caracterice por la descalificación, la carga excesiva de trabajo y los cambios permanentes de horario, que puedan producir desmotivación laboral y hagan que el empleado o colaborador presente su renuncia.

								p.comunicado__paragraph--content Discriminación laboral
								p.comunicado__paragraph--content.vineta.m-left  Todo trato diferenciado por razones de raza, género, origen familiar o nacional, credo religioso, preferencia política o situación social hacia un colaborador.

								p.comunicado__paragraph--content Entorpecimiento laboral
								p.comunicado__paragraph--content.vineta.m-left  Toda acción tendiente a obstaculizar o retardar el cumplimiento de la labor del empleado.

								p.comunicado__paragraph--content Inequidad laboral
								p.comunicado__paragraph--content.vineta.m-left  Asignación de funciones a menosprecio del colaborador, es decir, la delegación, sin razón alguna, de actividades laborales ostentosamente diferentes al perfil ocupacional del colaborador o que atenten contra su dignidad.

								p.comunicado__paragraph--content Desprotección laboral
								p.comunicado__paragraph--content.vineta.m-left  Toda conducta tendiente a poner en riesgo la integridad y la seguridad del colaborador mediante órdenes o asignación de funciones sin el cumplimiento de los requisitos mínimos de protección y seguridad para el colaborador.



								p.comunicado__paragraph.comunicado__subtitle ¿Que debo hacer en caso de ser victima de acoso laboral?
								p.comunicado__paragraph--content 1. Permanecer tranquilo y abstenerse de reaccionar de manera impulsiva. En todos los casos será necesario buscar espacios de diálogo directo con quién se haya tenido la dificultad y/o buscar la intervención de un tercer orientador delegado que posibilite la regulación del conflicto.
								p.comunicado__paragraph--content 2. i luego de intentar un acercamiento por medio del dialogo no es posible resolver la dificultad, se podrá solicitar la intervención del comité de convivencia laboral de la empresa empleadora.
								p.comunicado__paragraph--content 3. El comité de convivencia laboral dará inicio a los trámites confidenciales de diálogo y conciliación privada con las partes del conflicto.
								p.comunicado__paragraph--content 4. Continuando con el procedimiento el comité de convivencia podrá fijar, capacitaciones y dinámicas de esparcimiento tendientes a restaurar el clima organizacional al interior de la empresa.
								p.comunicado__paragraph--content 5. Superada la dificultad, cultivar un buen ambiente de trabajo, olvidar los hechos y tomar la decisión de seguir comprometido con el desarrollo organizacional de la empresa. De todas las medidas tomadas al interior del comité de convivencia debe quedar la respectiva acta.




								p.comunicado__paragraph.comunicado__subtitle ¿A quién debo reportar si tengo una queja de acoso laboral?
								p.comunicado__paragraph--content Las quejas de acoso laboral deben ser radicadas directamente al comité de convivencia laboral de la empresa con la que se está contratado o en la sede nacional de la Vicepresidencia de Talento Humano o sus representantes en las regionales, para realizar el análisis correspondiente.



								p.comunicado__paragraph.comunicado__subtitle ¿Qué sucede si formulo una denuncia sin fundamentos por acoso laboral ante alguna autoridad judicial o laboral?
								p.comunicado__paragraph--content Cuando, a juicio del Ministerio Público o del juez laboral competente, la queja de acoso laboral carezca de todo fundamento fáctico o razonable, se impondrá a quien la formuló una sanción de multa entre medio y tres salarios mínimos legales mensuales. Adicionalmente, si con la queja se ha causado alguna violación grave al reglamento interno de trabajo, al contrato o a la Ley, se podrá ordenar la terminación de contrato de trabajo con justa causa.


								p.comunicado__paragraph.comunicado__subtitle ¿Qué no es acoso laboral?
								p.comunicado__paragraph--content Circulares o memorandos de servicio encaminados a mejorar la eficiencia laboral y la evaluación laboral de subalternos conforme a indicadores objetivos y generales de rendimiento.
								p.comunicado__paragraph--content Las actuaciones administrativas o gestiones encaminadas a dar por terminado el contrato de trabajo, con base en una causa legal o una justa causa, prevista en el Código Sustantivo del Trabajo.
								p.comunicado__paragraph--content Las exigencias de cumplir con las estipulaciones contenidas en los reglamentos en el reglamento interno de trabajo y cláusulas de los contratos de trabajo del contrato laboral.
								p.comunicado__paragraph--content Los actos destinados a ejercer la autoridad y disciplinaria que legalmente corresponde a los superiores jerárquicos sobre sus subalternos.



								p.comunicado__paragraph.comunicado__subtitle ¿Cuáles son las medidas preventivas de acoso laboral?
								p.comunicado__paragraph--content Establecer una política preventiva para que los conflictos no terminen en situaciones de acoso laboral. La educación de los directivos de todos los niveles en el arte de la gestión del conflicto y el entrenamiento en el uso apropiado de la política de la compañía



				.cell.small-10
					p.comunicado__paragraph.comunicado__subtitle Comité de convivencia laboral 2016 - 2018
					p.comunicado__paragraph--content  El Comité de Convivencia Laboral es un organismo que se encarga de velar porque el ambiente y el clima organizacional de la compañía sea armónico con relaciones interpersonales óptimas entre jefes, subalternos y compañeros de trabajo. Surge, además, como mecanismo de amparo para los colaboradores ante un caso de ‘Acoso Laboral’.
					p.comunicado__paragraph--content De acuerdo con la ley el comité debe reunirse cada 3 meses mínimo una vez, con el fin de estudiar el clima laboral o realizar un informe de las quejas presentadas ante este organismo por presunto acoso laboral dentro de ese periodo de tiempo. También es posible citarlo de manera extraordinaria cuando se reciban quejas por inconformidades de convivencia que requieran tratamiento urgente.



					p.comunicado__paragraph.comunicado__subtitle ¿Cómo está conformado el comité de convivencia laboral?

					p.comunicado__paragraph--content Este equipo está conformado por 4 miembros principales: 2 de ellos designados por Cafesalud y 2 elegidos por votación nacional de toda la planta de personal. Además de 2 suplentes por el empleador y 2 de los trabajadores, para un total de 8 integrantes.




					p.comunicado__paragraph.comunicado__subtitle ¿Quién puede integrar el comité?

					p.comunicado__paragraph--content Cualquier colaborador de Cafesalud que tenga las ganas y disposición para asumir la gran misión de preservar el buen clima de la organización. Los requisitos para ser miembro son:

					p.comunicado__paragraph--content.vineta.m-left Tener contrato firmado con Cafesalud
					p.comunicado__paragraph--content.vineta.m-left No haber sido protagonista en conflictos laborales denunciados ante el comité
					p.comunicado__paragraph--content.vineta.m-left Tener un carácter amable, tranquilo y mantener buenas relaciones con tus compañeros
					p.comunicado__paragraph--content.vineta.m-left Ser responsable
					p.comunicado__paragraph--content.vineta.m-left Tener un alto sentido de pertenencia con nuestra cultura organizacional