extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-4.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x.align-center
				.cell.small-10
					p.comunicado__paragraph.comunicado__subtitle ¿Qué es el COPASST?
					p.comunicado__paragraph--content  El Comité Paritario de Seguridad y Salud en el Trabajo (Copasst) es un organismo de nuestra organización que se dedica a la promoción y vigilancia de las normas y reglamentos de salud ocupacional en todas las sedes de Cafesalud en el país.
					p.comunicado__paragraph--content El objetivo es disminuir los riesgos profesionales promoviendo al interior de la empresa prácticas saludables y hábitos seguros, un mecanismo de participación para lograr nuestros propósitos organizacionales en el entorno laboral para poder ofrecer bienestar a nuestros usuarios.

					p.comunicado__paragraph.comunicado__subtitle ¿Cuáles son las funciones del Copasst?

					p.comunicado__paragraph--content.vineta.m-left Proponer al equipo administrativo de la empresa o las personas responsables del manejo logístico de las sedes, la adopción de medidas y el desarrollo de actividades que procuren y mantengan la salud en nuestros ambientes de trabajo.

					p.comunicado__paragraph--content.vineta.m-left Proponer y participar en actividades de capacitación en salud ocupacional dirigidas a nuestros colaboradores y personas encargadas de la administración de nuestras sedes de trabajo.

					p.comunicado__paragraph--content.vineta.m-left Participar como empresa y cooperar en el desarrollo de actividades de salud ocupacional que promuevan las entidades gubernamentales de salud en nuestra organización, además de solicitar por derecho propio los informes con los resultados correspondientes.

					p.comunicado__paragraph--content.vineta.m-left Vigilar el desarrollo de las actividades que en materia de medicina, higiene y seguridad industrial debe realizar la empresa para dar cumplimiento al Reglamento de Higiene y Seguridad Industrial y las normas vigentes del país en la materia.

					p.comunicado__paragraph--content.vineta.m-left Promover su divulgación y observancia del Reglamento de Higiene y Seguridad Industrial.

					p.comunicado__paragraph--content.vineta.m-left Colaborar en el análisis de las causas de los accidentes de trabajo y enfermedades profesionales que se reporten ante la Vicepresidencia de Talento Humano. Dentro del proceso el comité debe proponer al empleador las medidas correctivas a las que haya lugar para evitar la ocurrencia de los accidentes laborales.

					p.comunicado__paragraph--content.vineta.m-left Evaluar los programas que se hayan realizado en materia de seguridad y salud en el trabajo.

					p.comunicado__paragraph--content.vineta.m-left Visitar periódicamente los lugares de trabajo e inspeccionar los ambientes, máquinas, equipos, aparatos y las operaciones realizadas por los colaboradores en cada área de la empresa e informar al empleador sobre la existencia de factores de riesgo y sugerir las medidas correctivas y de control.

					p.comunicado__paragraph--content.vineta.m-left Estudiar y considerar las sugerencias que presenten los trabajadores en materia de medicina, higiene y seguridad industrial.

					p.comunicado__paragraph--content.vineta.m-left Servir como organismo de coordinación entre empleador y los colaboradores en la solución de los problemas relativos a la salud ocupacional. Además de tramitar los reclamos de los trabajadores relacionados con la salud ocupacional.

					p.comunicado__paragraph--content.vineta.m-left Solicitar periódicamente a la empresa informes sobre accidentalidad y enfermedades profesionales con el objeto de dar cumplimiento a lo estipulado en la presente Resolución.

					p.comunicado__paragraph--content.vineta.m-left Elegir al secretario del comité.

					p.comunicado__paragraph--content.vineta.m-left Mantener un archivo de las actas de cada reunión y demás actividades que se desarrollen que estará en cualquier momento a disposición del empleador, los colaboradores y las autoridades competentes.

					p.comunicado__paragraph--content.vineta.m-left Cumplir con las demás funciones que le señalen las normas sobre salud ocupacional.



					p.comunicado__paragraph.comunicado__subtitle ¿Cómo está conformado el el COPASST?
					p.comunicado__paragraph--content  En Cafesalud conformamos un comité nacional, en este participan un número igual de representantes por parte del empleador y por parte de los colaboradores.
					p.comunicado__paragraph--content El empleador debe nombrar sus 4 representantes según sus disposiciones y los 4 colaboradores elegirán los suyos mediante votación libre. Dentro del equipo hay un vigía ocupacional que es elegido por el empleador, para nuestro caso elegiremos uno por cada una de las regionales sin proceso de votación.
					p.comunicado__paragraph--content Las personas designadas o elegidas serán miembros del comité por un periodo de dos años y al termino del tiempo podrán ser reelegidos. En caso que alguno de los integrantes terminé su vínculo laboral con Cafesalud se realiza el proceso de asignación según su naturaleza.

				.cell.small-7.m-top
					table
						thead
							tr
								th Número de trabajadores
								th Conformación

						tbody
							tr
								td 10 a 49
								td Un representante del empleador y uno de los colaboradores, con sus respectivos suplentes
							tr
								td 50 a 499
								td 2 representante del empleador y 2 de los colaboradores, con sus respectivos suplentes
							tr
								td 500 a 999
								td 3 representante del empleador y 3 de los colaboradores, con sus respectivos suplentes 
							tr
								td 1000 o más
								td 4 representante del empleador y 4 de los colaboradores, con sus respectivos suplentes