extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-11.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph.comunicado__subtitle FORMATOS TALENTO HUMANO
					p.comunicado__paragraph--content A continuación encontrará los formatos disponibles para realizar trámites ante Talento Humano, si tiene algúna inquietud sobre cómo diligenciarlos puede comunicarse a comunicaciones@cafesalud.com.co
				.cell.m-top
					.grid-x.align-center
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Solicitud de permisos y licencias
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/Formato_de_permisos_generales.doc") FOR-GTH-ASL-01 SOLICITUD DE LICENCIAS Y PERMISOS V5-.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Solicitud de proceso disciplinario
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORGTHGAL02PROCESODISCIPLINARIO.docx") FORGTHGAL02PROCESODISCIPLINARIO.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Queja de acoso laboral
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORGTHGAL03QUEJADEACOSOLABORAL.docx") FORGTHGAL03QUEJADEACOSOLABORAL.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Solicitud beneficios convención colectiva
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORGTHGAL04BENEFICIOSCONVENCIONCOLECTIVA.docx") FORGTHGAL04BENEFICIOSCONVENCIONCOLECTIVA.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Paz y salvo (retiros)
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORGTHGAL09PAZYSALVOV1.docx") FORGTHGAL09PAZYSALVOV1.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Entrega de puesto
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORGTHGAL10ACTADEENTREGADEPUESTODETRABAJO.docx") FORGTHGAL10ACTADEENTREGADEPUESTODETRABAJO.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Reporte de incidentes
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/Formato de reportes de incidentes.docx") Formato de reportes de incidentes.docx
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Permisos Generales
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/Formato_de_permisos_generales.doc") Formato_de_permisos_generales.doc
						.cell.small-11
							p.comunicado__paragraph.comunicado__subtitle.m-negative.vineta Solicitud de Vacaciones
							li.tecnofarma__li: a.tecnofarma__a(href="images/docs/FORMATOVACACIONESv1.pdf" target="_blank") FORMATOVACACIONESv1.pdf