extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-8.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph--content Gracias a nuestros lineamientos marcamos un diferencial importante y nos ayuda a ejercer una mejor gestión como EPS. Actuar en base a nuestros lineamientos genera confianza en el aseguramiento de los servicios de la salud que les brindamos a nuestros usuarios. 
				.cell.m-top
					.grid-x
						<embed  src="images/docs/Politicadesst.pdf" width=100% height=100%>