extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-1.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph REGLAMENTO INTERNO DE TRABAJO
					p.comunicado__paragraph--content El reglamento interno de trabajo es un documento regulador de las relaciones internas de la empresa con el trabajador. Es una herramienta indispensable para resolver los conflictos que llegasen a presentarse dentro de la empresa y sirve de guía para mantener el orden dentro de la organización.
				.cell.m-top
					.grid-x
						<embed  src="images/docs/reglamento-interno.pdf" width=100% height=100%>