extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-2.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x.align-center
				.cell.small-10
					p.comunicado__paragraph.comunicado__subtitle ¿Qué es seguridad y salud en el trabajo?
					p.comunicado__paragraph--content Es el conjunto de actividades encaminadas a mantener el más alto grado de bienestar físico, mental y social de los trabajadores, mediante la prevención y promoción de hábitos o estilos de vida y trabajo saludables.

					p.comunicado__paragraph.comunicado__subtitle ¿Qué es el programa de seguridad y salud en el trabajo?
					p.comunicado__paragraph--content Es la planeación, organización, ejecución y evaluación de actividades de medicina preventiva y de trabajo, de higiene y seguridad industrial; tendientes a preservar, mantener y mejorar la salud individual y colectiva de los colaboradores y sus sitios de trabajo, a través de un grupo interdisciplinario.

					p.comunicado__paragraph.comunicado__subtitle Subprogramas de seguridad y salud en el trabajo
					p.comunicado__paragraph--content 1. Medicina preventiva y del trabajo
					p.comunicado__paragraph--content 2. Higiene y seguridad industrial
					p.comunicado__paragraph--content 3. Comité paritario de salud ocupacional


					p.comunicado__paragraph.comunicado__subtitle Actividades de medicina preventiva
					p.comunicado__paragraph--content 1. Exámenes médicos
					p.comunicado__paragraph--content 2. Vacunación HB
					p.comunicado__paragraph--content 3. Actividades de promoción y prevención
					p.comunicado__paragraph--content 4. Programas de vigilancia epidemiológica en riesgo biológico, ergonomía, riesgo psicosocial y radiaciones ionizantes


					p.comunicado__paragraph.comunicado__subtitle Actividades de higiene y seguridad industrial
					p.comunicado__paragraph--content 1. Panorama de riesgo
					p.comunicado__paragraph--content 2. Planes de emergencia
					p.comunicado__paragraph--content 3. Brigadas de emergencia
					p.comunicado__paragraph--content 4. Mediciones de equipos de RX


					p.comunicado__paragraph.comunicado__subtitle Brigadas de emergencia
					p.comunicado__paragraph--content Conformada por un grupo de personas dentro de la empresa, capacitadas y entrenados para responder ante cualquier eventualidad.
					p.comunicado__paragraph--content 1. Grupo de primeros auxilios
					p.comunicado__paragraph--content 2. Grupo contra incendios
					p.comunicado__paragraph--content 3. Grupo de evacuación



					p.comunicado__paragraph.comunicado__subtitle Accidente laboral
					p.comunicado__paragraph--content (Normativa Comunidad Andina Naciones CAN, Art. 1-n)
					p.comunicado__paragraph--content Es accidente de trabajo todo suceso repentino que sobrevenga por causa o con ocasión del trabajo, y que produzca en el trabajador una lesión orgánica, una perturbación funcional, una invalidez o la muerte.
					p.comunicado__paragraph--content Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador, o durante la ejecución de una labor bajo su autoridad, aún fuera del lugar y horas de trabajo.



					p.comunicado__paragraph.comunicado__subtitle Enfermedad profesional
					p.comunicado__paragraph--content (Normativa Comunidad Andina Naciones CAN, Art. 1-n)
					p.comunicado__paragraph--content Una enfermedad contraída como resultado de la exposición a factores de riesgo inherentes a la actividad laboral.




					p.comunicado__paragraph.comunicado__subtitle ¿Qué es una administradora de riesgos laborales?
					p.comunicado__paragraph--content Conjunto de actividades públicas y privadas, normas y procedimientos destinados a prevenir, proteger y atender a los trabajadores de los efectos de las enfermedades y/o accidentes que puedan ocurrir con ocasión o como consecuencia del trabajo que desarrolla.



					p.comunicado__paragraph.comunicado__subtitle ¿Qué hacer en caso de accidente laboral?
					p.comunicado__paragraph--content Conformada por un grupo de personas dentro de la empresa, capacitadas y entrenados para responder ante cualquier eventualidad.
					p.comunicado__paragraph--content 1. Informe a su jefe inmediato.
					p.comunicado__paragraph--content 2. Diligencie el Formato Único de reporte de Accidentes de trabajo (FURAT).
					p.comunicado__paragraph--content 3. Si es necesario, diríjase a la IPS designada por la ARL, presentando el carné de la ARL, la cédula y el FURAT para ser atendido.
					p.comunicado__paragraph--content 4. Debe enviarse el FURAT a la ARL en el lapso no mayor de 48 horas hábiles.