extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m2-6.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x.align-center
				.cell.small-10
					p.comunicado__paragraph--content La #[span.comunicado__subtitle.font-w tecnovigilancia] está definida como el conjunto de actividades que tienen por objeto la identificación y la cualificación de los efectos adversos serios e indeseados producidos por equipos y demás dispositivos médicos, así como la identificación de los factores de riesgo asociados a estos efectos o características, con base en la notificación, registro y evaluación sistemática de los problemas relacionados con los dispositivos médicos, para determinar la frecuencia, gravedad e incidencia de los mismos y prevenir su aparición.

					p.comunicado__paragraph--content La #[span.comunicado__subtitle.font-w farmacovigilancia] se encarga de la detección, la evaluación y la prevención de los riesgos asociados a los medicamentos una vez comercializados, nos ayuda a la detección temprana de las reacciones adversas, a la identificación de factores de riesgo, la estimación de los aspectos cuantitativos de la relación beneficio/riesgo y la difusión de la información necesaria para mejorar la regulación y prescripción de medicamentos.

					p.comunicado__paragraph--content Nos permite hacer uso racional y seguro de los medicamentos, la evaluación y comunicación de los riesgos y beneficios de los medicamentos comercializados, la educación y la información a los pacientes

					p.comunicado__paragraph--content Consulta el procedimiento y los formatos de reporte voluntario de sospecha de problemas haciendo clic en las siguientes opciones:

				.cell.m-top.small-10
					ul.tecnofarma__ul
						li.tecnofarma__li: a.tecnofarma__a(href="images/docs/procedimiento_farmacovigilancia.pdf" target="_blank") Procedimiento
						li.tecnofarma__li: a.tecnofarma__a(href="images/docs/20150420-formato-reporte-FOREAM.docx") Formato - Reporte de sospecha de eventos adversos a Medicamentos FOREAM
						li.tecnofarma__li: a.tecnofarma__a(href="images/docs/20150420-reporte-voluntario-evento.pdf" target="_blank") Formato - Reporte VOLUNTARIO de evento o incidente adverso asociado al uso de un Dispositivo Médico FOREIA001
						li.tecnofarma__li: a.tecnofarma__a(href="images/docs/20150420-formato-reporte-efectos-indeseados-RDIV.pdf" target="_blank") Formato - Reporte de efectos indeseados INVIMA Reactivos de Diagnóstico "In Vitro" (RDIV)



