.footercf{
    background: black;
    height: 11em;
}

.paragraph{
    
    

    &__intranet{
        color: #fff;
        font-size: 1.4em;
    }

    &__gerencia{
        color: #fff;
        font-size: 1.1em;
    }
}