extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m1-1.jpg")

block block/content
	.grid-container
		.callout.botonera__callout.small
			.grid-x
				.cell.shrink
					h2.botonera__callout--title Somos Colombia, somos Cafesalud
				.cell.m-top
					.grid-x.grid-margin-x.grid-padding-x
						.cell.small-6 
							.card
								.card-divider.dividercf
									p Nuestra Misión 
								.card-section.cardcf
									p.card__paragraph Garantizar un eficiente servicio y atención en salud de manera integral, desde un enfoque familiar, que promueva estilos de vida saludables.
						.cell.small-6 
							.card
								.card-divider.dividercf
									p Nuestra Visión 
								.card-section.cardcf
									p.card__paragraph Consolidarnos como líderes y referentes a nivel nacional del aseguramiento en salud, mediante nuestro modelo de atención familiar, innovador, oportuno e integral, basado en la gestión del riesgo, logrando la satisfacción de los afiliados.
						.cell.small-6 
							.card
								.card-divider.dividercf
									p Promesa de valor
								.card-section.cardcf
									p.card__paragraph Garantizar, promover y facilitar a los colombianos la atención integral de los servicios de salud.