extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m1-2.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph--content Estos son nuestros valores y comportamientos, conócelos, vívelos y compártelos con todos. Con estas simples acciones comenzamos a construir nuestra cultura organizacional, recuerda que tú eres la parte más importante en este nuevo inicio.
				.cell.m-top
					.grid-x.grid-margin-x.grid-padding-x
						.cell.small-4 
							.card
								.card-divider.dividercf.dividercf1-1
									p Transparencia
								.card-section.cardcf
									p.card__paragraph Garantizar un eficiente servicio y atención en salud de manera integral, desde un enfoque familiar, que promueva estilos de vida saludables.
						.cell.small-4
							.card
								.card-divider.dividercf.dividercf1-1
									p Compromiso
								.card-section.cardcf
									p.card__paragraph Consolidarnos como líderes y referentes a nivel nacional del aseguramiento en salud, mediante nuestro modelo de atención familiar, innovador, oportuno e integral, basado en la gestión del riesgo, logrando la satisfacción de los afiliados.
						.cell.small-4
							.card
								.card-divider.dividercf.dividercf1-1
									p Confianza
								.card-section.cardcf
									p.card__paragraph Garantizar, promover y facilitar a los colombianos la atención integral de los servicios de salud.

						.cell.small-4
							.card
								.card-divider.dividercf.dividercf1-1
									p Respeto
								.card-section.cardcf
									p.card__paragraph Consolidarnos como líderes y referentes a nivel nacional del aseguramiento en salud, mediante nuestro modelo de atención familiar, innovador, oportuno e integral, basado en la gestión del riesgo, logrando la satisfacción de los afiliados.
						.cell.small-4
							.card
								.card-divider.dividercf.dividercf1-1
									p Servicio
								.card-section.cardcf
									p.card__paragraph Garantizar, promover y facilitar a los colombianos la atención integral de los servicios de salud.


	.grid-container
		.callout.small
			.grid-y
				.cell
					h2.botonera__callout--title.small Nuestra identidad

					p.comunicado__paragraph--content #[span.asterisk 1.] Creemos en lo que somos y en lo que hacemos.
					p.comunicado__paragraph--content #[span.asterisk 2.] Estamos comprometidos en cumplirle a nuestros afiliados.
					p.comunicado__paragraph--content #[span.asterisk 3.] Nos relacionamos a través del respeto y la cordialidad, tratamos a los demas como queremos ser tratados. 
					p.comunicado__paragraph--content #[span.asterisk 4.] Crecer y aprender hace parte de nuestro proyecto de vida. 
					p.comunicado__paragraph--content #[span.asterisk 5.] Creamos cohesión permanente entre las áreas para generar confianza y sinergia para el cumplimiento de nuestras metas. 
					p.comunicado__paragraph--content #[span.asterisk 6.] La eficiencia es una característica en el desarrollo de nuestras tareas. 
					p.comunicado__paragraph--content #[span.asterisk 7.] Vivimos nuestros valores corporativos
					p.comunicado__paragraph--content #[span.asterisk 8.] Nuestras acciones generan valor  a la organización. 


				
					
					
					
					
