extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m1-9.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph Política de vacaciones
				.cell.m-top
					.grid-x
						<embed  src="images/docs/.pdf" width=100% height=100%>