extends ../templates/template_generic.pug

block block/bannerinfo
	.grid-container.full
		.cell
			img(src="images/banner_nav/m1-5.jpg")

block block/content
	.grid-container
		.callout.small
			.grid-x
				.cell
					p.comunicado__paragraph Guía de imagen personal
				.cell.m-top
					.grid-x
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="740px" height="635px" align="middle" id="player"><param name="scale" value="noscale"><param name="movie" value="presentation.swf"><param name="quality" value="best"><param name="name" value="player"><param name="allowFullScreen" value="true"><param name="bgcolor" value="#FFFFFF"><param name="flashvars" value="vHtmlContainer=true&amp;TinCan=false&amp;vLMSPresent=false&amp;vAOSupport=false&amp;vPublishWidth=740&amp;vPublishHeight=635"><param name="wmode" value="opaque"><param name="AllowScriptAccess" value="always"><embed id="eplayer" name="player" allowfullscreen="true" wmode="opaque" src="presentation.swf" flashvars="vHtmlContainer=true&amp;TinCan=false&amp;vLMSPresent=false&amp;vAOSupport=false&amp;vPublishWidth=740&amp;vPublishHeight=635" scale="noscale" quality="best" bgcolor="#FFFFFF" width="740px" height="635px" align="middle" swliveconnect="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" allowscriptaccess="always" tabindex="0"></object>

