footer.grid-y.footercf.align-center
	.grid-x.align-center
		.cell.small-4
			img.img__footer(src="images/footerLogo.png")
		.cell.small-4.text-center.align-self-middle
			.grid-y
				.cell.paragraph__intranet
					| Intranet Cafesalud EPS
				.cell.paragraph__gerencia
					| Gerencia TIC's